<?xml version="1.0" encoding="UTF-8"?>
<p:configjarSettings xmlns:p="http://www.bea.com/alsb/tools/configjar/config">
    <p:source>
        <p:project dir="/home/oracle/labs_DI/lessons/lesson03/ValidationServiceMVApp/PaymentValidationMV"/>
        <p:fileset>
            <p:exclude name="*/overview.xml"/>
            <p:exclude name="*/pom.xml"/>
            <p:exclude name="*/.settings/**"/>
            <p:exclude name="*/.data/**"/>
        </p:fileset>
    </p:source>
    <p:configjar jar="/home/oracle/labs_DI/lessons/lesson03/ValidationServiceMVApp/PaymentValidationMV/.data/maven/sbconfig.sbar">
        <p:projectLevel includeSystem="false">
            <p:project>PaymentValidationMV</p:project>
        </p:projectLevel>
    </p:configjar>
</p:configjarSettings>